<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/seomun_main.css">
    <link rel="stylesheet" href="css/seomun_common.css">
    <link rel="stylesheet" href="css/seomun_intro.css">
    <link rel="stylesheet" href="css/seomun_joinus_1.css">
    <link rel="stylesheet" href="css/seomun_joinus.css">
    <link rel="stylesheet" href="css/seomun_joinfood.css">
    <link rel="stylesheet" href="css/seomun_joinfree.css">
    <link rel="stylesheet" href="css/seomun_joinselect.css">
    <link rel="stylesheet" href="css/seomun_login.css">
    <link rel="stylesheet" href="css/seomun_notice.css">
    <link rel="stylesheet" href="css/seomun_view.css">
    <link rel="stylesheet" href="css/seomun_write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght
                @100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
    <header class="hd_opacity">
        <div class="hd_left">
            <div class="logo_wrap">
                <a href="main"></a>
            </div>
            <div class="hd_nav">
                <ul class="nav_wrap">
                    <li class="dropdown">
                        <a class="active_hnav" href="intro">야시장소개</a>
                        <div class="subnav_wrap">
                            <ul class="dropdown_content">
                                <li><a href="intro">야시장 안내</a></li>
                                <li><a href="">매대위치</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="active_hnav" href="">먹거리살거리</a>
                        <div class="subnav_wrap">
                            <ul class="dropdown_content">
                                <li><a href="">퓨전&글로벌</a></li>
                                <li><a href="">한국전통식</a></li>
                                <li><a href="">스트리트푸드</a></li>
                                <li><a href="">살거리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="active_hnav" href="">서문거리예술문화</a>
                        <div class="subnav_wrap">
                            <ul class="dropdown_content">
                                <li><a href="">거리예술학교</a></li>
                                <li><a href="">행사이벤트</a></li>
                                <li><a href="">주요관광지</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="active_hnav" href="notice">참여마당</a>
                        <div class="subnav_wrap">
                            <ul class="dropdown_content">
                                <li><a href="">공지사항</a></li>
                                <li><a href="">행사안내</a></li>
                                <li><a href="">현장스케치</a></li>
                                <li><a href="">언론보도</a></li>
                                <li><a href="">문의 및 제안</a></li>
                                <li><a href="">입점문의</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="active_hnav" href="">입점신청</a>
                        <div class="subnav_wrap">
                            <ul class="dropdown_content">
                                <li><a href="">입점절차</a></li>
                                <li><a href="">식품셀러 입점신청</a></li>
                                <li><a href="">프리마켓셀러 입점신청</a></li>
                                <li><a href="">입점신청 확인</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hd_right">
            <div class="hd_user">
                <ul class="user_wrap">
                    <li class="dis_none"><a href="">KO</a></li>
                    <li class="dis_none"><a href="">EN</a></li>
                    <li><a href="login" id="loginlink">LOGIN</a></li>
                    <li id="logout" onclick="javascript:kakaoLogout();">LOGOUT</li>
                    <li><a href="joinus">JOIN US</a></li>
                </ul>
            </div>
            <div class="hd_sns dis_none">
                <ul class="sns_wrap">
                    <li><a class="youtube" href=""></a></li>
                    <li><a class="facebook" href="https://www.facebook.com/nightseomun/"></a></li>
                    <li><a class="instagram" href="https://instagram.com/053nightmarket"></a></li>
                </ul>
            </div>
        </div>
        <section class="hd_mobile pc_none">
            <div class="logo_mobile"><a href="main"></a></div>
            <h1></h1>
            <div class="nav_mobile"><a href=""></a></div>
        </section>
    </header>

    <main>
      <%- body %>
    </main>

    <footer>
      <div class="footer_top">
          <img src="img/pc/main_logo.png" alt="footer_logo">
          <div>
              <a href=""><img src="img/pc/btn_top.png">TOP</a>
          </div>
      </div>
      <div class="footer_address">
          <p>대구광역시 남구 대명로 215 대구광역시상인회관 4층, 재단법인 대구전통시장진흥재단 상권육성팀</p>
          <p>TEL&nbsp;&nbsp;&nbsp;053 256 6341</p>
      </div>
      <h6>Seomun Night Market ⓒ2016 Daegu traditional Market Support Agency.&nbsp;&nbsp;All Rights Reserved</h6>
    </footer>
  </body>
  <script src="script/script.js"></script>

</html>