
        <div class="joincomp_wrap">
            <div>
                <h2>회원 가입 완료</h2>
                <img src="img/pc/ico_confirm.png" alt="">
                <p>서문시장 야시장의 회원이 되신 것을 환영합니다!</p>
                <a class="joincomp_login" href="login">로그인하기</a>
            </div>
            
        </div>
        <section class="sec_joincomp">
            <div class="joincomp_bottom">
                <div class="mobile_btn_top pc_none">
                    <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                </div>
            </div>
        </section>
