
        <div class="joinselect_wrap">
            <div>
                <h2>가입 유형 선택</h2>
                <ul>
                    <li>
                        <a href="joinnormal">
                            <h4>일반 회원</h4>
                            <img src="img/pc/join_normal.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="joinfood">
                            <h4>식품 셀러</h4>
                            <img src="img/pc/join_foodseller.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="joinfree">
                            <h4>프리마켓 셀러</h4>
                            <img src="img/pc/join_freeseller.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
        <section class="sec_joinselect">
            <div class="joinselect_bottom">
                <div class="mobile_btn_top pc_none">
                    <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                </div>
            </div>
        </section>
