
        <div class="login_wrap">
            <div>
                <h2>LOGIN</h2>
                <h6>서문시장 야시장 회원 로그인</h6>
                <form action="joinus1" method="post">
                    <div class="input_idpw">
                        <label for="user_id">아이디</label>
                        <input type="text" id="user_id" name="user_id" placeholder="" required>
                    </div>
                    <div class="input_idpw">
                        <label for="user_pw">비밀번호</label>
                        <input type="password" id="user_pw" name="user_pw" placeholder="" required>
                    </div>
                    <div class="input_login">
                        <a href="main"><input type="button" name="loginok" id="loginok" value="로그인"></a>
                    </div>
                    <div class="login_joinus">
                        <p>회원이 아니세요?</p>
                        <a href="joinus">회원가입</a>
                    </div>
                    <div class="kakao_login" id="login" onclick="javascript:kakaoLogin();">카카오 로그인</div>
                    <div class="login_find">
                        <a href="">아이디 찾기</a>
                        <a href="">비밀번호 찾기</a>
                    </div>
                </form>
            </div>
            
        </div>
        <section class="sec_login">
            <div class="login_bottom">
                <div class="mobile_btn_top pc_none">
                    <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                </div>
            </div>
        </section>
        
