
        <div class="viewback_img mobile_none"></div>
        <section class="sec_view">
            <div class="view_top">
                <h1>서문·칠성야시장 매대운영자 모집공고</h1>
                <div>
                    <p>작성일</p>
                    <span>2022.03.24</span>
                    <p class="view_bar">|</p>
                    <p>조회수</p>
                    <span>89</span>
                </div>
            </div>
        </section>

        <section class="sec_view">
            <div class="view_mid">
                <div class="view_contents">
                    <p></p>
                    <h4>&lt;서문·칠성야시장 매대운영자 모집공고&gt;</h4>
                    <p>전국을 대표하는 야간관광지 「대구 서문·칠성 야시장」에서 
                        뛰어난 열정을 펼칠 수 있는 창의적이고 역량이 뛰어난 매대 운영자를 모집하오니 
                        많은 참여를 바랍니다.</p>
                    <br>
                    <h6>1. 모집분야</h6>
                    <p>- 음식매대<br>
                    야시장 영업에 적합한 특색 있는 퓨전·창작요리, 글로벌 음식, 지역을 대표하는
                    인지도 있는 향토 먹거리</p>
                    <em>※ 매주 화요일은 정기휴무이며 기후, 재해, 야시장 운영 정책에 따라 영업시간 등이 변경될 수 있음</em>
                    <br><br>
                    <p>- 프리마켓 운영업체<br>
                    핸드메이드, 공예품, 아트상품, 생활잡화, 재능판매 등 20~30여개 프리마켓 셀러를 관리하는 업체</p>
                    <em>※ 금~일, 공휴일 운영하며 영업시간은 야시장 영업시간과 동일</em>
                    <br><br>
                    <p>- 대학매대<br>
                    대구·경북권 식품관련학과 대학생들의 야시장에서 현장경험을 쌓기 위한 재학생 및 1년 이내 졸업생(학교 추천서)</p>
                    <em>※ 토~일, 공휴일 운영하며 영업시간은 야시장 영업시간과 동일</em>
                    <br><br>
                    <h6>2. 모집인원</h6>
                    <p>- 음식매대 40명(서문야시장 20명, 칠성야시장 20명)<br>
                    - 프리마켓 운영업체 2개 업체(서문야시장 1개, 칠성야시장 1개)<br>
                    - 대학매대 4명(서문야시장 2명, 칠성야시장 2명)</p>
                    <br>
                    <h6>3. 응시자격</h6>
                    <p>- 거주지 제한 없음<br>
                    - 만 18세 이상 ~ 만 60세 이하(1962. 1. 1. ~ 2003. 12. 31. 출생자)<br>
                    - 신청자(배우자)가 직접 운영<br>
                    - 신청자 본인 사업자등록증 발급에 결격 사유가 없어야 함<br>
                    - 1가구(직계가족) 1매대 이상 신청할 수 없음</p>
                    <em>※ 서문, 칠성야시장 퇴점자 중 2021년 3월 이전에 퇴점자는 지원 가능</em>
                    <br><br>
                    <h6>4. 지원자 혜택</h6>
                    <p>- 3개월간 관리비 지원(개별 전기요금 제외)<br>
                    - 메뉴 및 밀키트 개발 컨설팅<br>
                    - 매대 상호, 홍보판 등 VMD지원(대학매대)</p>
                    <br>
                    <h6>5. 신청방법</h6>
                    <p>- 지원을 희망하는 야시장(서문, 칠성 야시장 중 택 1) 지원서 작성
                    <br>- 지원서 제출방법 : 홈페이지, 이메일, 방문 접수 / 문의처 : 053) 621-1985~6</p>
                    <p>- 홈페이지 : 서문야시장( <a href="http://www.nightseomun.com">http://www.nightseomun.com</a> ), 칠성야시장( <a href="http://7starnm.com">http://7starnm.com</a> )</p>
                </div>
                <div class="uploaded_files">
                    <a href="" download="">첨부.서문칠성야시장 매대운영자 모집 공고.hwp</a>
                    <a href="" download="">첨부.음식 매대운영자 모집 신청서.hwp</a>
                    <a href="" download="">첨부.야시장 프리마켓 신청서.hwp</a>
                    <a href="" download="">첨부.야시장 대학매대 신청서.hwp</a>
                </div>
            </div>
        </section>
        <section class="sec_view">
            <div class="view_bottom">
                <div class="next_content">
                    <div class="cont_left">
                        <div class="view_no">▲ 다음글</div>
                        <div class="view_post">다음 글이 없습니다.</div>
                    </div>
                    <div class="cont_right">
                        <div class="view_date">ㅡ</div>
                        <span class="pc_none">|</span>
                        <div class="view_count">ㅡ</div>
                    </div>
                </div>
                <div class="post_content">
                    <div class="cont_left">
                        <div class="view_no">▼ 이전글</div>
                        <div class="view_post">서문야시장 ‘22년 3월 영업 공지</div>
                    </div>
                    <div class="cont_right">
                        <div class="view_date">2022.02.28</div>
                        <span class="pc_none">|</span>
                        <div class="view_count">1641</div>
                    </div>
                </div>
                <a class="btn_move" href="notice">목록</a>
                <div class="mobile_btn_top pc_none">
                    <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                </div>
            </div>
        </section>
