<section class="background">
    <div class="video_wrap">
        <video class="back_movie" loop muted autoplay>
            <source src="img/pc/video_seomun.mp4" type="video/mp4">
        </video>
    </div>
    <div class="main_biglogo"></div>
</section>
<div class="main_uppadding"></div>
<section class="main_top">
    <div class="menu_bar">
        <ul class="pc_mainmenu">
            <li><a class="market" href="intro">
                <h4 class="red">야시장안내</h4>
                <p class="red">밤마다 펼쳐지는 <span class="br">버라이어티 한 세상</span></p>
                </a>
            </li>
            <li><a class="food" href="">
                <h4 class="gold">먹거리 살거리</h4>
                <p class="gold">눈과 입이 즐거운 <span class="br">서문시장 야시장</span></p>
                </a>
            </li>
            <li><a class="festival" href="">
                <h4 class="purple">서문거리예술</h4>
                <p class="purple">오감만족의 완성, <span class="br">날마다 즐거운 행사</span></p>
                </a>
            </li>
            <li><a class="travel" href="">
                <h4 class="white">주변관광지</h4>
                <p class="white">대구가 품은 <span class="br">또다른 즐거움</span></p>
                </a>
            </li>
        </ul>
        <div class="mobile_mainmenu">
            <ul>
                <li><a class="m_market" href="intro"><h4 class="red">야시장<span class="br">안내</span></h4></a></li>
                <li><a class="m_food" href=""><h4 class="gold">먹거리<span class="br">살거리</span></h4></a></li>
            </ul>
            <ul>
                <li><a class="m_festival" href=""><h4 class="purple">서문<span class="br">거리예술</span></h4></a></li>
                <li><a class="m_travel" href=""><h4 class="white">주변<span class="br">관광지</span></h4></a></li>
            </ul>
        </div>
    </div>
</section>

<section class="main_w100">
    <div class="gallery">
    <ul>
        <li><img src="img/pc/gall1.png" alt=""></li>
        <li><img src="img/pc/gall2.png" alt=""></li>
        <li><img src="img/pc/gall3.png" alt=""></li>
        <li><img src="img/pc/gall4.png" alt=""></li>
        <li><img src="img/pc/gall5.jpg" alt=""></li>
        <li><img src="img/pc/gall6.jpg" alt=""></li>
        <li><img src="img/pc/gall7.jpg" alt=""></li>
        <li><img src="img/pc/gall8.jpg" alt=""></li>
    </ul>
    </div>
    <a class="mainbtn_move" href="">갤러리 이동</a>
</section>

<section>
    <div class="info_wrap">
        <ul>
            <li class="recruit mobile_none">
                <div><a class="manager" href=""></a></div>
                <div><a class="seller" href=""></a></div>
            </li>
            <li class="mobile_covid pc_none">
                <a href=""><img src="img/pc/ad_smart_service.png" alt=""></a>
                <a href=""><img src="img/pc/ad_tour_mission.png" alt=""></a>
            </li>
            <li>
                <div class="info_bar">
                    <h6>야시장 공지</h6>
                </div>
                <div class="info_content info_notice">
                    <% rows.forEach((row, index) => { %>
                    <div class="mainnoti_title">
                        <a onclick="javascript:location.href='/viewdb?id=<%=row.id%>'">
                            <p><%= row.subject%></p>
                            <p class="mainnoti_date"><%= row.date%></p>
                        </a>
                    </div>
                    <!-- <div class="noti_date">
                        <p><%= row.date%></p>
                    </div> -->
                    <% }) %>
                </div>
            </li>
            <li class="mobile_none">
                <div class="info_bar">
                    <h6>운영 시간</h6>
                </div>
                <div class="info_content info_time">
                    <p>일 / 월 / 수 / 목</p>
                    <p>19:00 ~ 22:30</p>
                    <br>
                    <p>금 / 토</p>
                    <p>19:00 ~ 23:30</p>
                    <br><br>
                    <p>매주 <span class="red">화</span>요일 정기 
                        <span class="red">휴무</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <a class="mainbtn_move" href="notice">공지사항 이동</a>
</section>

<section class="mobile_recruit">
    <ul>
        <li><a href=""><img src="img/pc/ad_freemarket_a.png" alt=""></a></li>
        <li><a href=""><img src="img/pc/ad_joinseller_a.png" alt=""></a></li>
    </ul>
</section>
    
<section>
    <div class="sub_menu">
        <ul>
            <li><a class="route" href=""><p>오시는 길</p></a></li>
            <li><a class="shop" href=""><p>매대소개</p></a></li>
            <li><a class="attraction" href=""><p>볼거리</p></a></li>
            <li><a class="sub_notice" href="notice"><p>참여마당</p></a></li>
        </ul>
    </div>
    <div class="covid_mission mobile_none">
        <a href=""><img src="img/pc/ad_smart_service.png" alt=""></a>
        <a href=""><img src="img/pc/ad_tour_mission.png" alt=""></a>
    </div>
</section>

<section class="event_wrap">
    <div class="main_event">
        <ul>
            <li>
                <div class="info_bar">
                    <h6>일일 공연 안내</h6>
                </div>
                <a href=""><img src="img/pc/daily_busking_0403.jpg" alt=""></a>
            </li>
            <li><a href="">
                <div class="info_bar">
                    <h6>이벤트</h6>
                </div>
                <a href=""><img src="img/pc/event_squid_game.png" alt=""></a>
            </a></li>
            <li><a href="">
                <div class="info_bar">
                    <h6>문화소식</h6>
                </div>
                <a href=""><img src="img/pc/event_street_culture_factory.jpg" alt=""></a>
            </a></li>
        </ul>
    </div>
</section>

<section id="bottom">
    <div class="main_bottom">
        <ul>
            <li><a class="city" href="https://www.daegu.go.kr/index.do"></a></li>
            <li><a class="district" href="https://www.jung.daegu.kr/new/pages/main/"></a></li>
            <li><a class="mss_gov" href="https://www.mss.go.kr/site/smba/main.do"></a></li>
            <li><a class="market_agency" href="http://dtmsa.or.kr/"></a></li>
            <li><a class="semas" href="https://www.semas.or.kr/index_main.html"></a></li>
        </ul>
        <div class="mobile_btn_top pc_none">
            <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
        </div>
    </div>
</section>
