
        <div class="join_wrap">
            <div>
                <h2>회원 정보 입력</h2>
                <h6>입력 정보를 정확히 기입해 주세요</h6>
                <form action="joinus1" method="post">
                    <div class="join_input">
                        <label for="user_name">이름</label>
                        <input type="text" id="user_name" name="user_name" placeholder="성명을 입력해 주십시오." required>
                    </div>
                    <div class="join_input">
                        <label for="user_id">아이디</label>
                        <input type="text" id="user_id" name="user_id" placeholder="6~12자 이내 영문(소문자), 숫자 조합" required>
                    </div>
                    <div class="join_input">
                        <label for="user_mail">e-mail</label>
                        <input type="text" id="user_mail" name="user_mail" placeholder="example@seomun.com" required>
                    </div>
                    <div class="join_input">
                        <label for="user_pw">비밀번호</label>
                        <input type="password" id="user_pw" name="user_pw" placeholder="8~16자 이내 영문, 숫자, 특수문자 조합" required>
                    </div>
                    <div class="join_input">
                        <label for="user_pw">비밀번호 확인</label>
                        <input type="password" id="user_pw" name="user_pw" placeholder="비밀번호 재입력" required>
                    </div>
                    <div class="join_input">
                        <label for="user_tel">연락처</label>
                        <input type="text" id="user_tel" name="user_pw" placeholder="예시) 010-1234-5678">
                    </div>
                    <div class="join_button">
                        <a href="joinus1"><input type="button" name="join" id="join" value="가입하기"></a>
                    </div>
                </form>
            </div>
            
        </div>
        <section class="sec_joinus">
            <div class="join_bottom">
                <div class="mobile_btn_top pc_none">
                    <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                </div>
            </div>
        </section>
