
        <div class="introback_img mobile_none"></div>
        <section class="sec_intro">
            <aside class="mobile_none">
                <h2>야시장 안내</h2>
                <ul>
                    <li><a class="intro_active" href="">시장소개</a></li>
                    <li><a href="">오시는길</a></li>
                    <li><a href="">운영시간</a></li>
                </ul>
            </aside>
            <article>
                <div class="intro_top">
                    <h3 class="mobile_none"><span class="red">夜</span>하게 놀자, 대한민국 대표 <span class="purple">야</span>시장</h3>
                    <img class="intro_logo" src="img/pc/main_logo.png" alt="intro_logo">
                    <h4 class="mobile_none">단순한 스트리트 마켓이 아니다!<br>
                        글로벌하게 <span class="gold">먹고, </span> <span class="purple">마시고,</span> <span class="red">즐길 수 있는</span> 대한민국 No.1 야시장</h4>
                    <img class="introimg_top mobile_none" src="img/pc/back_intro2.png" alt="back_intro2">
                </div>
                <div class="intro_mid_1">
                    <img class="intback_intro3" src="img/pc/back_intro3.png" alt="back_intro3">
                    <div class="phrase">
                        <h5>전 세계인과 함께하는,<br>
                            <span class="purple">대한민국 대표 야시장</span><br><br>
                        여러분과 함께 만들어가는</h5>
                        <h3><span class="red">夜</span>한 테마파크!</h3>
                    </div>
                    <p class="intro_text1">서문시장 야시장은<br>
                        2016년 6월에 개장한, 총거리 350m에 달하는 대형 야시장입니다.<br>
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의 매대에서 다양한 먹거리,
                         살거리를 판매하여 매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다.
                        <br><br>
                        특히, 먹거리 일색인 타 야시장과는 달리 먹거리, 볼거리, 
                        즐길거리의 3대 요소가 연중으로 펼쳐지는 마법같은 관광지이기도 합니다. 
                        향후에는 대구 최대의 관광명소가 될 수 있도록 택배시스템, 사후면세점 제도, 
                        복합쇼핑 COMPLEX 조성 등 다양한 계획을 진행 할 예정입니다.</p>
                </div>
                <div class="intro_mid_2">
                    <div>
                        <h5>연중무휴로 펼쳐지는</h5><br>
                        <h3><span class="red">Fantastic</span> <span class="purple">Night</span> <span class="gold">Party!</span></h3><br>
                        <p>&nbsp;</p>
                        <h5>야시장을 통한 성공적인</h5><br>
                        <h3><span class="gold">창업상단</span> 육성!</h3>
                    </div>
                    <h6 class="pc_none">
                        연중무휴로 펼쳐지는<br><span class="red">Fantastic</span> <span class="purple">Night</span> <span class="gold">Party!</span>
                    </h6>
                    <img src="img/pc/back_intro4.png" alt="back_intro4">
                    <p>서문시장 야시장은 대구의 밤문화와 다양한 첨단,<br>
                        문화예술이 복합되어 어디에서도 찾을 수 없는 경험을 제공합니다.<br>
                        글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식<br>
                        우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.<br>
                        <br>
                        대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 단연 <span class="red">‘서문시장 야시장’</span>입니다.</p>
                </div>
                <div class="mobile_intmid_3 pc_none">
                    <h6>야시장을 통한 성공적인<br><span class="gold">창업상단</span> <span class="red">육성!</span></h6>
                    <img src="img/mobile/back_intro5.gif" alt="mobile_5">
                    <p>서문시장 야시장은 새로운 창업 인큐베이터로써의 기능도 수행합니다.<br>
                        안정적인 공간에서 보다 차별화된 육성시스템을 기반으로<br>
                        새로운 상인이 탄생하고 성공 창업자로 독립할 수 있도록<br>
                        ‘시장 인큐베이터’로 최선을 다하고 있습니다.<br>
                        <br>
                        서문시장 야시장은 전통시장이 젊은이들을 위한 새로운 삶의 터전이 될 수 있는<br>
                        <span class="purple">‘획기적인 모델’</span>을 제시하고 있습니다.</p>
                </div>
                <div class="intro_bottom">
                    <h1><span class="red">서문시장</span> 오시는 <span class="gold">길</span></h1>
                    <div class="google_maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.196302474212!2d128.57833581561553!3d35.86870597727401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1652338170637!5m2!1sko!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location_wrap">
                        <div class="address_text">
                            <article class="address_tel">
                                <div>
                                    <p>주소</p>
                                    <p>대구 중구 큰장로26길 45</p>
                                </div>
                                <div>
                                    <p>전화</p>
                                    <p>053-265-6341</p>
                                </div>
                            </article>
                            <article class="subway">
                                <div>
                                    <p>주변 지하철</p>
                                </div>
                                <div>
                                    <p><span class="yellow">3</span>호선</p>
                                    <p>서문시장역</p>
                                    <p>달성공원역</p>
                                    <p>청라언덕역</p>
                                </div>
                                <div>
                                    <p><span class="green">2</span>호선</p>
                                    <p>청라언덕역</p>
                                </div>
                            </article>
                            <article class="bus_stop">
                                <div>
                                    <p>주변 정류장</p>
                                </div>
                                <div>
                                    <p>큰장네거리4</p>
                                    <p>동산의료원앞2</p>
                                    <p>서문시장5지구앞</p>
                                    <p>동산의료원앞2</p>
                                    <p>서문시장</p>
                                    <p>큰장네거리2</p>
                            </article>
                        </div>
                        
                        <div class="opening_hour">
                            <h3>야시장 운영 시간</h3>
                            <article>
                                <div>
                                    <p class="weekday">일/월/수/목</p>
                                    <p>금/토</p>
                                </div>
                                <div>
                                    <p>19:00 ~ 22:30</p>
                                    <p>19:00 ~ 23:30</p>
                                </div>
                            </article>
                            <p>정기 휴무</p>
                            <p>매주 <span class="red">화</span>요일</p>
                        </div>
                    </div>
                    <div class="mobile_info pc_none">
                        <div class="mob_address">
                            <p>주소&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                대구 중구 큰장로26길 45</p>
                            <p>전화&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                053-256-6341</p>
                        </div>
                        <div class="mob_subway">
                            <p>주변 지하철</p>
                            <p><span class="yellow">3</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                서문시장역 달성공원역 청라언덕역</p>
                            <p><span class="green">2</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                청라언덕역</p>
                        </div>
                        <div class="mob_open">
                            <p>야시장 영업시간</p>
                            <p>일/월/수/목 (19:00 ~ 22:30)&nbsp;&nbsp;&nbsp;&nbsp;금/토 (19:00 ~ 23:30)</p>
                            <p>매주 <span class="red">화</span>요일 정기 휴무</p>
                        </div>
                    </div>
                    <div class="mobile_btn_top pc_none">
                        <a href="#"><img src="img/mobile/btn_top.png" alt="top"> TOP</a>
                    </div>
                </div>
            </article>
        </section>

</html>